body{
    margin: 0;
    font-family:Arial;
    background-color: rgb(255, 233, 208);
    width: 100%;
}

h1{
    text-align: center;
    color: #599bb3;
}

.main-container{
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media(max-width: 600px){
    .main-container{
        padding: 20px 0;
        width: 100%;
    }
}

.puzzle-container{
    display: grid;
    width: 500px;
    height: 500px;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
}

@media(max-width: 600px){
    .puzzle-container{
        width: 400px;
        height: 400px;
    }
}

.puzzle-container div{
    border: 1px solid white;
}

button{
    margin: 30px 5px;
    border:none;
    box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}

@media(max-width: 600px){
    button{
        font-size: 20px;
    }
}

.winning{
    color: #599bb3;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
}

.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
}



input{
    height: 20px;
    width: 100px;
    border: 1px solid #599bb3;
    padding: 10px;
    margin-right: 10px;
    font-size: 18px;
}

@media(max-width: 600px){
    input{
        font-size: 20px;
        height: 30px;
        width: 60px;
    }
}

.show{
    display: block;
}

.hide{
    display: none;
}